* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    background-color: #c7d2fe;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #eef2ff;
}

#form {
    height: 500px;
    position: relative;
    bottom: 150px;
}

fieldset {
    height: 475px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: none;
}

fieldset > input {
    height: 30px;
    width: 350px;
    background-color: #eef2ff;
    border: none;
    border-radius: 10px;
}

legend {
    position: relative;
    left: 150px;
    font-size: 18px;
    font-weight: bold;
}

#submit-button {
    height: 50px;
    width: 150px;
    background-color: #c7d2fe;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

#books {
    display: flex;
    gap: 10px;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.book-card {
    position: relative;
    top: 20px;
    height: 250px;
    width: 300px;
    background-color: #eef2ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    
}

#new-book-btn {
    background-color: #c7d2fe;
    border: none;
    font-size: 32px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 75px;
    width: 200px;
    position: relative;
    left: 105px;
    top: 50px;
}

